<div class="singlePart" >
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <a data-toggle="collapse" data-parent="#orderDetail" data-target="#remarkInfo">
                <h4 class="panel-title">
                    <div class="add_tit">&nbsp;&nbsp;&nbsp;备注信息</div>
                </h4>
            </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2"></div>
        <div class="col-lg-6 col-md-6 col-sm-6 text-right">

        </div>
    </div>
    <div id="remarkInfo" class="row panel-collapse collapse in">
        <div class="panel-body" ng-hide="panel">
            <div>暂无数据</div>
        </div>
        <div class="panel-body" ng-show="panel">
            <div class="row col-md-8 mark-red" ng-bind="data"></div>
        </div>
    </div>
</div>